:root {
  --height: 8vw;
  --translate-unit: calc(var(--height) * -15.65);
  --translate-dozen: calc(var(--height) * -2.4);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-white);
  z-index: 15;
  display: flex;
  justify-content: center;
  transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.76s;
}

.loader-number-container {
  display: flex;
  position: absolute;
  top: 40%;
  height: 8vw;
  overflow: hidden;
}

.loader-container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0%;
  height: 1%;
  background-color: var(--background-2);
  animation: loaderNumberAfter 3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  animation-fill-mode: forwards;
}

.loader-number-dozen {
  display: flex;
  flex-direction: column;
  animation: loaderNUmberDozen 3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  animation-fill-mode: forwards;
}

.loader-number-unit {
  display: flex;
  flex-direction: column;
  animation: loaderNUmberUnit 3s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  animation-fill-mode: forwards;
}

.loader-number-dozen span,
.loader-number-unit span {
  display: block;
  text-align: center;
}

.loader-number-thousand,
.loader-number-hundred,
.loader-number-dozen span,
.loader-number-unit span {
  font-size: 8vw;
  font-weight: 100;
  color: var(--background-2);
}

@keyframes loaderNUmberDozen {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(var(--translate-dozen));
  }
}
@keyframes loaderNUmberUnit {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(var(--translate-unit));
  }
}

@keyframes loaderNumberAfter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
