.project-container {
  height: 100%;
  width: 100vw;
}

.project-sticky-title-container {
  position: sticky;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0%;
  z-index: 0;
}

.project-item-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200vh;
}

.project-title {
  font-size: 5vw;
  font-family: PPEiko;
  font-weight: 100;
  color: var(--white);
  text-align: center;
  width: 60%;
}

.project-item-container {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  min-height: 80vh;
  background-color: transparent;
  margin: 5rem;
  position: relative;
  z-index: 1;
}

.project-item-container:nth-of-type(2n) {
  align-self: flex-end;
  background-position: right;
}

.project-item-container:nth-of-type(2n + 1) {
  background-position: left;
}

.project-item-container:nth-of-type(1),
.project-item-container:nth-of-type(3),
.project-item-container:nth-of-type(4),
.project-item-container:nth-of-type(7) {
  /* z-index: -1; */
  background-position: center;
}

.project-name {
  font-size: 3vw;
  font-family: PPEiko;
  font-weight: 100;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5rem);
  padding: 0 1%;
  border: 0.1rem solid var(--white);
  display: none;
}
