:root {
  --white: #fff;
  --black: #000;
  --border: #cdcdcd;
  /* --background: #a68975; */
  --background: #86634b;
  --background-2: #3c241c;
  --background-white: #f6e8e8;
}

@font-face {
  font-family: Ortica;
  src: url(../fonts/Ortica/desktop/Ortica-Light.otf);
}

@font-face {
  font-family: PPEiko;
  src: url(../fonts/PPEiko/ppeiko-thin.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

body {
  font-size: 62.5%;
  font-family: Ortica;
  overflow-x: hidden;
  background-color: var(--background);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #4e3525;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #4e3525;
}

a {
  text-decoration: none;
  color: var(--black);
}

/* Animation */
