.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  height: 5rem;
  border-bottom: 0.1rem solid var(--border);
  z-index: 5;
  /* mix-blend-mode: difference; */
}

.header-logo {
  width: 15rem;
  height: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  border-right: 0.1rem solid var(--border);
}

.header-logo-link {
  text-align: center;
  color: var(--white);
  font-size: 2.5vw;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  mix-blend-mode: difference;
  font-family: IvyMode;
}

.header-logo-img {
  width: 70%;
}

.header-menu-button-container {
  width: 12rem;
  height: 100%;
  border-left: 0.1rem solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-menu-button-icon {
  font-size: 3vw;
  color: var(--white);
  font-family: PPEiko;
  font-weight: 100;
}
